body {
  background-color: #172829f3;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form {
  margin:100px auto; 
  margin-left: -15%;
  padding: 20px;
  border: 1px solid #363636;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 0px 500px rgb(135, 172, 170);
  width: 200%; 
  height: 50%;
  max-width: 600px; 
  animation: glow 2s ease-in-out infinite alternate;
}

.centered-form h1 {
  color: white; 
  margin-bottom: 20px; 
  font-size: 28px;
}

.formGroup {
  margin-bottom: 15px;
}

.formControl {
  width: 97%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submitButton {
  width: 100%;
  padding: 10px;
  background-color: #1c8450;
  color: #ffffff;
  border: 1px solid #f7f7f7;
  cursor: pointer;
  font-size: 20px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.submitButton:hover {
  border: 1px solid #080808;
}

.linkTitle{
  color:blue;
}


